
#panorama {
    width: 100%;
    height: 588px;
}
#controls {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: right;
    width: 100%;
    padding-bottom: 5px;
}
.ctrl {
    padding: 8px 5px;
    width: 30px;
    text-align: center;
    background: rgba(200, 200, 200, 0.8);
    display: inline-block;
    cursor: pointer;
}
select {
    padding: 9px 5px;
    width: 100px;
    text-align: center;
    background: rgba(200, 200, 200, 0.8);
    display: inline-block;
    cursor: pointer;
    margin: 0;
    border:0px;
    outline:0px;
    font-size: 16px;
}
.ctrl:hover ,select:hover{
    background: rgba(200, 200, 200, 1);
}
body{
    margin: 0;
    padding: 0;
}
#scenes-select{
  display: inline-block;
  margin-right: 5px;
}